<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
        <h1 class="m-0 text-primary">HouseKeeper</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="@Url.Action("Index","Staff")" class="nav-item nav-link active">Home</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Identities Moderation</a>
                <div class="dropdown-menu rounded-0 m-0">
                    <a href="@Url.Action("ShowListEmployers", "Staff")" class="dropdown-item">Employers</a>
                    <a href="@Url.Action("ShowListEmployees", "Staff")" class="dropdown-item">Employees</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Recruitments Moderation</a>
                <div class="dropdown-menu rounded-0 m-0">
                    <a href="@Url.Action("ShowRecruitmentAreHandled", "Staff")" class="dropdown-item">Recruitments handled by me</a>
                    <a href="@Url.Action("ShowRecruitmentNotHandled", "Staff")" class="dropdown-item">Recruitments not handled yet</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Personal</a>
                <div class="dropdown-menu rounded-0 m-0">
                    <a href="@Url.Action("Profile", "Staff")" class="dropdown-item">Your infor</a>
                    <a href="@Url.Action("ChangePassword", "Staff")" class="dropdown-item">Change password</a>
                    <a href="/Home/LogOut" class="dropdown-item">Log out</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- Navbar End -->