@using HouseKeeper.Models.Views.Employer;
@model EmployerProfileViewModel;
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>JobEntry - Job Portal Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <partial name="HeaderInclude" />
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
    <style>
        /* Style for the table */
        table {
            width: 100%;
            border-collapse: collapse;
        }

        /* Style for table header */
        th {
            background-color: #f2f2f2;
            color: #333;
            font-weight: bold;
        }

        /* Style for table rows */
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        /* Style for table data cells */
        td {
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }
    </style>
    <style>
        body {
            background: #67B26F; /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            padding: 0;
            margin: 0;
            
            color: #000;
        }

        .student-profile .card {
            border-radius: 10px;
        }

            .student-profile .card .card-header .profile_img {
                width: 150px;
                height: 150px;
                object-fit: cover;
                margin: 10px auto;
                border: 10px solid #ccc;
                border-radius: 50%;
            }

            .student-profile .card h3 {
                font-size: 20px;
                font-weight: 700;
            }

            .student-profile .card p {
                font-size: 16px;
                color: #000;
            }

        .student-profile .table th,
        .student-profile .table td {
            font-size: 14px;
            padding: 5px 10px;
            color: #000;
        }
    </style>
</head>

<body>
    <partial name="BodyInclude" />
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
            <a href="index.html" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
                <h1 class="m-0 text-primary">HouseKeeper</h1>
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <a href="@Url.Action("IndexEmployer", "Home")" class="nav-item nav-link active">Home</a>
                    <a href="@Url.Action("ListRecruitment", "Employer")" class="nav-item nav-link">Recruitments</a>
                    <a href="@Url.Action("ShowSuitableCandidates", "Employer")" class="nav-item nav-link">Suitable candidates</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Personal</a>
                        <div class="dropdown-menu rounded-0 m-0">
                            <a href="@Url.Action("Profile", "Employer")" class="dropdown-item">Your infor</a>
                            <a href="/Home/LogOut" class="dropdown-item">Log out</a>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Recruitment", "Employer")" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Post A Job<i class="fa fa-arrow-right ms-3"></i></a>
            </div>
        </nav>
        <!-- Navbar End -->
        <!-- Job Detail Start -->
        <div class="student-profile py-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card shadow-sm">
                            <div class="card-header bg-transparent text-center">
                                <img class="profile_img" src="https://source.unsplash.com/600x300/?student" alt="student dp">
                                <h3>@Model.Employer.LastName @Model.Employer.FirstName</h3>
                            </div>
                            <div class="card-body">
                                <p class="mb-0"><strong class="pr-1">City: </strong>@Model.Employer.District.City.CityName</p>
                                <p class="mb-0"><strong class="pr-1">District: </strong>@Model.Employer.District.DistrictName</p>
                                <p class="mb-0"><strong class="pr-1">Address: </strong>@Model.Employer.Address</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="card shadow-sm">
                            <div class="card-header bg-transparent border-0">
                                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>General Information</h3>
                            </div>
                            <div class="card-body pt-0">
                                <table class="table table-bordered">
                                    <tr>
                                        <th width="30%">First name</th>
                                        <td width="2%">:</td>
                                        <td>@Model.Employer.FirstName</td>
                                    </tr>
                                    <tr>
                                        <th width="30%">Last name</th>
                                        <td width="2%">:</td>
                                        <td>@Model.Employer.LastName</td>
                                    </tr>
                                    <tr>
                                        <th width="30%">Gmail</th>
                                        <td width="2%">:</td>
                                        <td>@Model.Employer.Account.Gmail</td>
                                    </tr>
                                    <tr>
                                        <th width="30%">Phone number</th>
                                        <td width="2%">:</td>
                                        <td>@Model.Employer.Account.PhoneNumber</td>
                                    </tr>
                                  @*   <tr>
                                        <th width="30%">blood</th>
                                        <td width="2%">:</td>
                                        <td>B+</td>
                                    </tr> *@
                                </table>
                                <button class="btn btn-primary">Edit</button>
                            </div>
                        </div>
                        <div style="height: 26px"></div>
                        <div class="card shadow-sm">
                            <div class="card-header bg-transparent border-0">
                                <h3 class="mb-0"><i class="far fa-clone pr-1"></i>You are employer</h3>
                            </div>
                            <div class="card-body pt-0">
                                <p>You must take all responsibility for your actions.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Job Detail End -->
        <partial name="FooterPage" />
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/wow/wow.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
</body>

</html>

