@using HouseKeeper.Models.Views.Admin;
@model StaffProfileViewModel;
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="~/css/Input.css">
    <style>
        /* Styling for the multi-select ComboBox */
        .multiselect {
            width: 200px;
            height: auto;
            overflow-y: auto;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 5px;
        }

            .multiselect select {
                width: 100%;
                height: 100%;
                padding: 5px;
                font-size: 16px;
                border: none;
                outline: none;
            }

                .multiselect select option {
                    padding: 5px;
                }

        /* Styling for the selected items */
        .selected-items {
            margin-top: 10px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 100%; /* Expand to fill available space */
            display: flex; /* Change to flex container */
            flex-wrap: wrap; /* Wrap items if they overflow */
        }

            .selected-items div {
                margin-right: 5px; /* Add spacing between items */
                padding: 3px 5px;
                background-color: #f0f0f0;
                border-radius: 3px;
            }

        image-preview {
            width: 240px;
            height: 240px;
        }

        input#Staff_Account_Status {
            margin: 3px;
        }


    </style>
    <script>
        function formatCurrency(input) {
            // Remove non-numeric characters and leading zeros
            let value = input.value.replace(/[^\d]/g, '').replace(/^0+/, '');

            // Check if the input is not empty
            if (value !== '') {
                // Format the number with periods for thousands separator
                value = value.replace(/\B(?=(\d{3})+(?!\d))/g, '.');

                // Update the input value
                input.value = value;
            }
        }
    </script>
    <partial name="HeaderInclude" />
</head>

<body>
    <partial name="BodyInclude" />
    <div class="demo-page">
        <main class="demo-page-content">
            <section>
                <div class="href-target" id="input-types"></div>
                <h1>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-align-justify">
                        <line x1="21" y1="10" x2="3" y2="10" />
                        <line x1="21" y1="6" x2="3" y2="6" />
                        <line x1="21" y1="14" x2="3" y2="14" />
                        <line x1="21" y1="18" x2="3" y2="18" />
                    </svg>
                    @(Model.isEdit ? "Edit " : "Add New") Staff
                </h1>
                <form id="form" asp-action="@(Model.isEdit ? "EditStaff" : "AddStaff")" method="post" enctype="multipart/form-data" class="pt-1">
                    <input type="hidden" asp-for="@Model.Staff.StaffId" />

                    <div class="nice-form-group">
                        <label>Last Name</label>
                        <input asp-for="@Model.Staff.LastName" type="text" placeholder="Last Name" value=@Model.Staff.LastName required />
                    </div>

                    <div class="nice-form-group">
                        <label>First Name</label>
                        <input asp-for="@Model.Staff.FirstName" type="text" placeholder="First Name" value=@Model.Staff.FirstName required />
                    </div>

                    <div class="nice-form-group">
                        <label>Gmail</label>
                        <input asp-for="@Model.Staff.Account.Gmail" type="email" placeholder="Gmail" value=@Model.Staff.Account.Gmail required />
                    </div>

                    <div class="nice-form-group">
                        <label>Phone Number</label>
                        <input asp-for="@Model.Staff.Account.PhoneNumber" type="text" placeholder="Phone Number" value=@Model.Staff.Account.PhoneNumber required />
                    </div>

                    <div class="nice-form-group">
                        <label>Citizen Number</label>
                        <input id="citizenNumberInput" asp-for="@Model.Staff.Identity.CitizenNumber" type="text" placeholder="Citizen Number" value=@Model.Staff.Identity.CitizenNumber required />
                    </div>

                    <div class="nice-form-group">
                        <label>Front Identity Image</label>
                        <img id="frontImage" width="70%" height="360" src="@Model.Staff.Identity.FrontImage" alt="Front Id Card" />
                        <input id="frontImageButton" name="frontImage" class="form-control" type="file" accept="image/*" @(Model.isEdit ? "" : "required")/>
                    </div>

                    <div class="nice-form-group">
                        <label>Back Identity Image</label>
                        <img id="backImage" width="70%" height="360" src="@Model.Staff.Identity.BackImage" alt="Back Id Card" />
                        <input id="backImageButton" name="backImage" class="form-control" type="file" accept="image/*" @(Model.isEdit ? "" : "required") />
                    </div>

                    <div class="mt-2 button-container">
                        <a href="@Url.Action("ShowStaffs", "Admin")" class="btn btn-danger">Cancel</a>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#confirmModal">@(Model.isEdit ? "Update" : "Add")</button>
                    </div>

                </form>
            </section>

            <!-- Confirmation Modal -->
            <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
                <div class="modal-dialog ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmModalLabel">Confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure to Edit?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                            <a id="confirmEdit" class="btn btn-danger">Yes</a>
                        </div>
                    </div>
                </div>
            </div>

            <footer>Easy-Fast-Afordable</footer>
        </main>
    </div>

     <script>
        $('#frontImageButton').on({
            'change': function () {
                file = this.files[0];
                if (file) {
                    let reader = new FileReader();
                    reader.onload = function (event) {
                        $('#frontImage').attr("src", event.target.result);
                    };
                    reader.readAsDataURL(file);
                }
            }
        });

        $('#backImageButton').on({
            'change': function () {
                file = this.files[0];
                if (file) {
                    let reader = new FileReader();
                    reader.onload = function (event) {
                        $('#backImage').attr("src", event.target.result);
                    };
                    reader.readAsDataURL(file);
                }
            }
        });

        $('#confirmEdit').on('click', function () {
            $('#form').submit();
        });
     </script>
</body>
</html>

