@using HouseKeeper.Models.Views.Staff;
@model EmployerDetailViewModel;
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Housekeeper Job</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="~/css/Input.css">
    <style>
        /* Styling for the multi-select ComboBox */
        .multiselect {
            width: 200px;
            height: auto;
            overflow-y: auto;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 5px;
        }

            .multiselect select {
                width: 100%;
                height: 100%;
                padding: 5px;
                font-size: 16px;
                border: none;
                outline: none;
            }

                .multiselect select option {
                    padding: 5px;
                }

        /* Styling for the selected items */
        .selected-items {
            margin-top: 10px;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            width: 100%; /* Expand to fill available space */
            display: flex; /* Change to flex container */
            flex-wrap: wrap; /* Wrap items if they overflow */
        }

            .selected-items div {
                margin-right: 5px; /* Add spacing between items */
                padding: 3px 5px;
                background-color: #f0f0f0;
                border-radius: 3px;
            }

        image-preview {
            width: 240px;
            height: 240px;
        }

        .form-btn-close {
            position: absolute;
            right: 10px;
            top: 5px;
            font-size: 1.25rem;
        }

        #disapprove-btn {
            margin-top: 10px;
        }

    </style>
    <script>
        function formatCurrency(input) {
            // Remove non-numeric characters and leading zeros
            let value = input.value.replace(/[^\d]/g, '').replace(/^0+/, '');

            // Check if the input is not empty
            if (value !== '') {
                // Format the number with periods for thousands separator
                value = value.replace(/\B(?=(\d{3})+(?!\d))/g, '.');

                // Update the input value
                input.value = value;
            }
        }
    </script>
    <partial name="HeaderInclude" />
</head>

<body>
    <partial name="BodyInclude" />
    <div class="demo-page">
        <main class="demo-page-content">
            <section>
                <div class="href-target" id="input-types"></div>
                <a href="@Url.Action("ShowListEmployers", "Staff")" class="btn btn-outline-danger form-btn-close">Close</a>
                <h1>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-align-justify">
                        <line x1="21" y1="10" x2="3" y2="10" />
                        <line x1="21" y1="6" x2="3" y2="6" />
                        <line x1="21" y1="14" x2="3" y2="14" />
                        <line x1="21" y1="18" x2="3" y2="18" />
                    </svg>
                    Edit your profile
                </h1>
                <form id="form" asp-action="DisapproveEmployer" method="post" enctype="multipart/form-data" class="pt-1">
                    <input type="hidden" asp-for="@Model.Employer.EmployerId" />
                    <div class="nice-form-group">
                        <label>Full Name</label>
                        <input type="text" placeholder="Full Name" value="@Model.Employer.LastName @Model.Employer.FirstName" disabled />
                    </div>
                    
                    <div class="nice-form-group">
                        <label>Gmail</label>
                        <input type="email" placeholder="Gmail" value=@Model.Employer.Account.Gmail disabled />
                    </div>

                    <div class="nice-form-group">
                        <label>Phone Number</label>
                        <input type="text" placeholder="Phone Number" value=@Model.Employer.Account.PhoneNumber disabled />
                    </div>

                    <div class="nice-form-group">
                        <label>Addess</label>
                        <input type="text" placeholder="Address" value="@Model.Employer.Address, @Model.Employer.District.DistrictName, @Model.Employer.District.City.CityName" disabled />
                    </div>

                    <div class="nice-form-group">
                        <label>Identity Number</label>
                        <input id="citizenNumberInput" type="text" placeholder="Type Address" value=@Model.Employer.Identity.CitizenNumber disabled />
                    </div>

                    <div class="nice-form-group">
                        <label>Front Identity Image</label>
                        <img id="frontImage" width="70%" height="360" src="@Model.Employer.Identity.FrontImage" alt="Front Id Card" />
                    </div>

                    <div class="nice-form-group">
                        <label>Back Identity Image</label>
                        <img id="backImage" width="70%" height="360" src="@Model.Employer.Identity.BackImage" alt="Back Id Card" />
                    </div>
                    @if (Model.Employer.IdentityState.IdentityStateId == 1)
                    {
                        <div class="button-form-group">
                            <a type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#approvalConfirmationModal">Approve</a>
                            <div class="nice-form-group">
                                <label for="disapprovalReasonTextarea" class="form-label">Disapproval Reason</label>
                                <textarea asp-for="@Model.DisapprovalReason" class="form-control" id="disapprovalReasonTextarea" placeholder="Type Disapproval Reason..." rows="3"></textarea>
                            </div>
                            <button id="disapprove-btn" type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#disapprovalConfirmationModal">Disapprove</button>
                        </div>
                    }
                </form>
            </section>

            <!-- Modal Confirmation for Approval -->
            <div class="modal fade" id="approvalConfirmationModal" tabindex="-1" aria-labelledby="approvalConfirmationModalLabel" aria-hidden="true">
                <div class="modal-dialog ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="approvalConfirmationModalLabel">Confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure to Approve?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                            <a id="confirmApprove" class="btn btn-danger" href="ApproveEmployer?employerId=@Model.Employer.EmployerId">Approve</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal Confirmation for Disapproval -->
            <div class="modal fade" id="disapprovalConfirmationModal" tabindex="-1" aria-labelledby="disapprovalConfirmationModalLabel" aria-hidden="true">
                <div class="modal-dialog ">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="disapprovalConfirmationModalLabel">Confirmation</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure to Disapprove?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                            <a id="confirmDisapprove" class="btn btn-danger">Disapprove</a>
                        </div>
                    </div>
                </div>
            </div>

            <footer>Easy-Fast-Afordable</footer>
        </main>
    </div>

    <script>
        $('#confirmApprove').on('click', function () {
            $('#approve-btn').submit();
        });
        $('#confirmDisapprove').on('click', function () {
            $('#form').submit();
        });
    </script>
</body>
</html>

