@using HouseKeeper.Models.Views.Staff;
@model RecruitmentModerationViewModel;
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="DefaultHeaderInclude" />
    <style>
        button {
            margin-top: 10px;
            margin-bottom: 10px; /* Adjust this value as needed */
        }

        .text-danger{
            margin: 0;
            margin-left: 5px;
            visibility: hidden
        }
    </style>

</head>

<body>
    <partial name="BodyInclude" />

    <!-- Header -->
    <div class="container-xxl py-5 bg-dark page-header mb-5">
        <div class="container my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Job Detail</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Job Detail</li>
                </ol>
            </nav>
        </div>
    </div>

    <!-- Job Detail -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row gy-5 gx-4">
                <div class="col-lg-8">
                    <div class="d-flex align-items-center mb-5">
                        <img class="flex-shrink-0 img-fluid border rounded" src="img/com-logo-2.jpg" alt="" style="width: 80px; height: 80px;">
                        <div class="text-start ps-4">
                            <h3 class="mb-3">@Model.Recruitment.HouseWorkName</h3>
                            <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>@Model.Recruitment.Address, @Model.Recruitment.District.DistrictName, @Model.Recruitment.District.City.CityName</span>
                            @if (Model.Recruitment.FullTime)
                            {
                                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Full Time</span>
                            }
                            else
                            {
                                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>Part Time</span>
                            }

                            <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>@string.Format("{0:0,0} VND", @Model.Recruitment.MinSalary) - @string.Format("{0:0,0} VND", @Model.Recruitment.MaxSalary)</span>
                        </div>
                    </div>

                    <div class="mb-5">
                        <h4 class="mb-3">Job description</h4>
                        <p>@Model.Recruitment.Note</p>
                    </div>

                    <!-- Button Group -->
                    <div class="">
                        <h4 class="mb-4">Recruitment Moderation</h4>
                        <button type="button" class="btn btn-primary w-25 btn_function" data-bs-toggle="modal" data-bs-target="#confirmModal" data-recruitment-id="@Model.Recruitment.RecruitmentId">
                            Accept
                        </button>
                        <button class="btn btn-info w-25" type="button" data-bs-toggle="modal" data-bs-target="#historyModel" @(Model.RejectionsDetails.Count == 0? "disabled" : "")>Rejection History</button>
                        <form id="recruitment-form" asp-action="RejectRecruitment" method="post" enctype="multipart/form-data">
                            <input asp-for="@Model.RecruitmentId" value="@Model.Recruitment.RecruitmentId" hidden />
                            <input asp-for="@Model.StaffId" value="@Model.StaffId" hidden />
                            <hr /> 
                            <h5>Reject Recruitment</h5>
                            <ul class="list-group list-group-light">
                                @{
                                    int rejection_index = 0;
                                }
                                @foreach (var rejection in Model.Rejections) {
                                    
                                    <li class="list-group-item" id="status-@rejection_index">
                                        <input asp-for="@Model.RejectionId[rejection_index]" value="@Model.RejectionId[rejection_index]" hidden />
                                        <!--<input name="ReasonsSelected" asp-for="@Model.IsSelectedList[rejection_index]" class="form-check-input me-1" id="checkbox-status-@rejection_index" type="checkbox" value="false" aria-label="..." />-->
                                        @Html.EditorFor(m => m.IsSelectedList[rejection_index], new { @class = "form-check-input me-1", @id = "checkbox-status-" + rejection_index, @type = "checkbox", @value = "false", @aria_label = "..." })

                                        <span> @Model.Rejections[rejection_index].RejectionName</span>
                                        <textarea asp-for="@Model.NoteList[rejection_index]" value="@Model.NoteList[rejection_index]." class="form-control" aria-label="With textarea" id="input-status-@rejection_index" placeholder="Type notes here" style="display: none;"></textarea>
                                    </li>
                                    rejection_index++;
                            }
                            </ul>
                            <button id ="btn-reject" type="submit" class="btn btn-danger w-25 btn_function" data-recruitment-id="@Model.Recruitment.RecruitmentId" disabled>
                                Reject
                            </button>
                        </form>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="bg-light rounded p-5 mb-4 wow slideInUp" data-wow-delay="0.1s">
                        <h4 class="mb-4">Job Summery</h4>
                        <p><i class="fa fa-angle-right text-primary me-2"></i>Published On: @Model.Recruitment.PostTime.ToString("dd/MM/yyyy")</p>
                        <p><i class="fa fa-angle-right text-primary me-2"></i>Vacancy: @Model.Recruitment.MaxApplications</p>
                        @if (Model.Recruitment.FullTime)
                        {
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Job Nature: Full Time</p>
                        }
                        else
                        {
                            <p><i class="fa fa-angle-right text-primary me-2"></i>Job Nature: Part Time</p>
                        }

                        <p><i class="fa fa-angle-right text-primary me-2"></i>Age range: @Model.Recruitment.Age</p>
                        <p><i class="fa fa-angle-right text-primary me-2"></i>Experience: @Model.Recruitment.Experience.ExperienceName</p>
                        <p><i class="fa fa-angle-right text-primary me-2"></i>Gender: @Model.Recruitment.Gender</p>
                        <p><i class="fa fa-angle-right text-primary me-2"></i>Paid type: @Model.Recruitment.SalaryForm.SalaryFormName</p>
                        <p class="m-0"><i class="fa fa-angle-right text-primary me-2"></i>Deadline: @Model.Recruitment.RecruitDeadlineDate.ToString("dd/MM/yyyy")</p>
                    </div>
                    <div class="bg-light rounded p-5 wow slideInUp" data-wow-delay="0.1s">
                        <h4 class="mb-4">Company Detail</h4>
                        <p class="m-0">Ipsum dolor ipsum accusam stet et et diam dolores, sed rebum sadipscing elitr vero dolores. Lorem dolore elitr justo et no gubergren sadipscing, ipsum et takimata aliquyam et rebum est ipsum lorem diam. Et lorem magna eirmod est et et sanctus et, kasd clita labore.</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <partial name="FooterInclude" />

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- Modal Confirmation -->
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure to accept?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
                    <a id="confirmAccept" class="btn btn-danger">Accept</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Rejection History Modal -->
    <div class="modal fade" id="historyModel" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="historyModelLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="historyModelLabel">Rejection History</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="rejections-list">
                        @foreach(var (date, reasonslist) in Model.RejectionsDetails)
                        {
                            <table class="table table-striped table-bordered caption-top">
                                <caption>@date</caption>

                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Reason</th>
                                    <th scope="col">Note</th>
                                </tr>
                                <tbody>
                                    @for(int i = 0; i < reasonslist.Count; i++) 
                                    {
                                        <tr>
                                            <th scope="row">@(i+1)</th>
                                            <td>@Model.getRejectionName(reasonslist[i].Rejection.RejectionId)</td>
                                            <td>@reasonslist[i].Note</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                </div>
                <div class="modal-footer">
                    ...
                </div>
            </div>
        </div>
    </div>
    


    <!-- Script -->
    <partial name="ScriptInclude" />

    <!-- Script -->
    <script>
        $(document).ready(function () {
            $('#confirmModal').on('shown.bs.modal', function (event) {

                var button = $(event.relatedTarget); // Button that triggered the modal
                var recruitmentId = button.data('recruitment-id'); // Extract info from data-* attributes

                var modal = $(this);

                modal.find('#confirmAccept').attr('href', 'AcceptRecruitment?recruitmentID=' + recruitmentId);
            });

            $('#confirmRejectModal').on('shown.bs.modal', function (event) {

                var button = $(event.relatedTarget); // Button that triggered the modal
                var recruitmentId = button.data('recruitment-id'); // Extract info from data-* attributes

                var modal = $(this);

                modal.find('#confirmRejectButton').attr('href', 'RejectRecruitment?recruitmentID=' + recruitmentId);
            });

            $('#confirmRejectButton').on('click', function (event) {
                $('#btn-reject').submit();
            });

            $('#btn-reject').on('submit', '#recruitment-form', function () {
                return confirm("Are you sure to Reject?");
            });

            $('.check-box').on('click', function (event) {
                var modal = $(this);
                modal.parent().find('textarea').toggle(this.checked)
                $('#btn-reject').prop('disabled', ($('.check-box:checked').length == 0));

            });

        })
    </script>

</body>

</html>
